<!DOCTYPE html>
<html html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{./css/reset.css}" rel="stylesheet">
    <link th:href="@{./css/style.css}" rel="stylesheet">
</head>
<body>
<div class="header" th:fragment="header">
    <nav>
        <ul>
            <li>App Code Fellows Ship</li>
            <li><a href="/">Home</a></li>
            <li><a href="/login">login</a></li>
            <li><a href="/signup">Sing UP</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </nav>
</div>
</body>
</html>