<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" action="/signup">
    <label for="username">User Name</label>
    <input id="username" name="username" type="text">
    <label for="password">Password</label>
    <input id="password" name="password" type="password">
    <label for="firstName">First Name</label>
    <input id="firstname" name="firstname" type="text">
    <label for="lastName">Last Name</label>
    <input id="lastname" name="lastname" type="text">
    <label for="bio">Bio</label>
    <input id="bio" name="bio" type="text">
    <label for="dateofbirth">Date Of Birth</label>
    <input id="dateofbirth" name="dateofbirth" type="text">
    <button type="submit">Sign up</button>
</form>
</body>
</html>