<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--  <link rel="stylesheet" href="./css/reset.css">-->
    <!-- <link rel="stylesheet" href="./css/Style.css">-->
    <link th:href="@{css/reset.css}" rel="stylesheet">
    <link th:href="@{css/style.css}" rel="stylesheet">
</head>
<body>
<header>
    <div th:insert="fragmentHeader :: header"></div>
    <h2 th:text="${usernamePrincipal}"></h2>
</header>
<div class="main">
    <div class="object">
        <img src="../img/personalImg.png" alt="" srcset="">
        <h3>User Name</h3>
        <p th:text="${userInformationGetById.username}"></p>
        <h3>Full Name</h3>
        <p th:text="${userInformationGetById.firstname} + ' '+${userInformationGetById.lastname}"></p>
        <h3>Date of birth</h3>
        <p th:text="${userInformationGetById.dateofbirth}"></p>
        <h3>bio</h3>
        <p th:text="${userInformationGetById.bio}"></p>
    </div>
</div>
</body>
</html>